POSTGRES_USER=robrag
POSTGRES_PASSWORD=robrag_prod_password_change_me
POSTGRES_DB=robrag_prod

DEV_POSTGRES_USER=robrag
DEV_POSTGRES_PASSWORD=robrag_dev_password
DEV_POSTGRES_DB=robrag_dev

LM_STUDIO_API_URL=
LM_STUDIO_API_KEY=

EMBEDDING_MODEL_NAME=nomic-embed-text
CHAT_MODEL_NAME=llama-3.2-1b-instruct
APP_NAME=RobRAG

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

SESSION_SECRET=
