version: '3.8'

services:
  app:
    image: ghcr.io/mysticfalconvt/rob_rag:latest
    container_name: rob_rag_app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
      - DOCUMENTS_FOLDER_PATH=/app/documents
      - QDRANT_URL=http://qdrant:6333
      - LM_STUDIO_API_URL=${LM_STUDIO_API_URL}
      - LM_STUDIO_API_KEY=${LM_STUDIO_API_KEY}
      - EMBEDDING_MODEL_NAME=${EMBEDDING_MODEL_NAME:-nomic-embed-text}
      - CHAT_MODEL_NAME=${CHAT_MODEL_NAME:-llama-3.2-1b-instruct}
      - APP_NAME=${APP_NAME:-RobRAG}
    volumes:
      - ./prisma:/app/prisma:z
      - ./documents:/app/documents:z
    depends_on:
      - qdrant
    networks:
      - rob_rag_network

  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    container_name: rob_rag_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    networks:
      - rob_rag_network

networks:
  rob_rag_network:
    driver: bridge
