.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 250px;
  padding: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding: 1rem;
    padding-top: 4rem;
    /* Space for hamburger menu */
  }
}
