.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 250px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding: 1rem;
  }
}
